h1 {
    padding-top: 50%;
    font-family: Verdana;
    font-size: 3em;
}

form {
    width: 350px;
    margin: auto;
    line-height: 2em;
}

label {
    float: left;
}

.FormField {
    float: right;
}

.errorMessage {
    color: rgb(251, 57, 57);
}
